    body, html {
        height: 100%;
    }
    body {
    background-color: coral;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }